.container {
  max-width: 100%;
  background: gray;
  margin: 0 auto;
}
.App {
  display: flex;
}
.user {
  background: aqua;
  width: 256px;
  margin: 10px;
  text-align: center;
}
.post {
  background: silver;
  width: 300px;
  margin: 10px;
  text-align: center;
}
.posthead {
  display: flex;
  width: 1686px;
  flex-wrap: wrap;

}
.comment {
  background: green;
  margin: 10px;
  text-align: center;
}